<div class="email-password-area col-xs-12 large col-sm-12">
  <div class="header">
    <span>Log in or <%= link_to "Create Account", sign_up_path %></span>
  </div>

  <% if flash[:error] %>
    <div class="alert alert-danger bad-login">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>

  <%= form_for :session, url: session_path, html: {class: "login-form form-horizontal"} do |form| %>
    <div class="form-group group-email">
      <%= form.label :email, class: "col-sm-4" %>
      <div class="col-sm-8">
        <%= form.text_field :email, type: 'text', placeholder: 'Email', class: "form-control", id: "session-email" %>
      </div>
    </div>

    <div class="form-group group-password">
      <%= form.label :password, class: "col-sm-4" %>
      <div class="col-sm-8">
        <%= form.password_field :password, type: 'password', placeholder: 'Password', class: "form-control" %>
      </div>
    </div>

    <div>
      <%= button_tag "Log in", :class => "login btn btn-login btn-sp-green", :type => "submit" %>
    </div>
  <% end %>
</div>