<div class="text-field">
  <%= form.label :given_name %>
  <%= form.text_field :given_name %>
</div>

<div class="text-field">
  <%= form.label :surname %>
  <%= form.text_field :surname %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
