<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_account %>
    <%= current_account.email %>
    <%= link_to 'Logout', logout_id_site_path #TODO: this is bad too. We should create one logout_url that will call the id_site_logout controller if id site enabled, and if not, then the normal logout controller %>
  <% end %>

  <% if flash[:notice] %>
    <p class='notice'>
      <%= flash[:notice] %>
    </p>
  <% end %>

<%= yield %>

</body>
</html>
