<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_account %>
    <%= current_account.email %>
    <%= button_to 'Logout', logout_path, method: :post %>
  <% end %>

  <% if flash[:notice] %>
    <p class='notice'>
      <%= flash[:notice] %>
    </p>
  <% end %>

<%= yield %>

</body>
</html>
